#wrap {
	width: 100%;
	min-width: 360px;
}
#container {
	margin-top: -84px;
}
@media (max-width: 900px) {
	#container {
		margin-top: -66px;
	}
}
/* m-slide */
.m-slide-wrap {
	position: relative;
}
.m-slide .slide01 {
	background-image: url(../images/mainimg01.jpg);
}
.m-slide .slide02 {
	background-image: url(../images/mainimg02.jpg);
}
.m-slide a {
	display: block;
	background-position: center;
	background-size: cover;
	padding-bottom: 48%;
	position: relative;
	overflow: hidden;
}
.txt {
	position: absolute;
	/*background-color: lightcoral;	*/
	top: 24%;
	left: 6.6%;
}
.m-slide a p {	
	font-size: 53px;
	color: #222;
	font-weight: 700;
	line-height: 1.5em;
}
.txt > p::before, .txt > p::after, .txt::before, .txt::after {
	content: "";
	display: block;
	background-color: #222;
	position: absolute;
}
.slide01 .txt > p::before {
	width: 0.6%;
	height: 14%;
	left: 46%;
	top: -13%;
}
.slide01 .txt > p::after {
	width: 57%;
	height: 2%;
	left: 46%;
	top: -13%;
}
.slide01 .txt::before {
	width: 0.6%;
	height: 66%;
	right: -3%;
	top: -13%;
}
.slide01 .txt::after {
	width: 18%;
	height: 2%;
	right: -3%;
	top: 52%;
}
.slide02 .txt > p::before {
	width: 0.6%;
    height: 13%;
    left: 50%;
    bottom: -13%;
}
.slide02 .txt > p::after {
	width: 53%;
    height: 2.5%;
    left: 50%;
    bottom: -13%;
}
.slide02 .txt::before {
	width: 10%;
    height: 2.5%;
    right: -3%;
    top: 50%;
}
.slide02 .txt::after {
	width: 0.6%;
    height: 61%;
    right: -3%;
    bottom: -13%;
}

/* slick-api */
.slick-test > li {
	display: none;
}
.slick-test > .slick-active {
	display: block;
}

.slick-test {
    position: absolute;
    bottom: 120px;
    left: 15%;
}

.m-slide .slick-prev {
    left: 28%;    
    z-index: 90;
    top: auto;
    bottom: 114px;
}

.m-slide .slick-next {
    right: auto;    
    left: 30%;
    z-index: 90;
    top: auto;
    bottom: 114px;
}
.slick-test button {	
    width: 25px;
    height: 25px;
	border: 2px solid #fff;
    background: none;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	padding:  0;
	/*line-height: 25px;*/
}

.m-slide + span {
    position: absolute;
    left: 25%;
    bottom: 126px;
    color: #fff;
}
@keyframes mBar {
	0% { width: 0; }
	100% { width: 80px; }
}
.m-bar {
	position: absolute;
    left: 17.8%;
    bottom: 132px;
    width: 0;
    height: 3px;
	background: #fff;
}
.m-bar::before {
	content:  "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 3px;
	background-color: rgba(255,255,255, 0.3);
}
@media (max-width: 1200px){
	@keyframes mBar {
		0% { width: 0; }
		100% { width: 70px; }
	}
	.m-bar::before {
		width: 70px;
	}
}
@media (max-width:  900px) {
	.slick-test {
		left: 40%;
	}
	.m-slide + span {
		left:  56%;
	}
	.m-slide .slick-prev {
		left: 58%;
	}
	.m-slide .slick-next {
		left: 63%;
	}
	.m-bar {
		left: 45%;
	}
}
@media (max-width:  680px) {
	.slick-test {
		left: 40%;
	}
	.m-slide + span {
		left:  56%;
	}
	.m-slide .slick-prev {
		left: 58%;
	}
	.m-slide .slick-next {
		left: 63%;
	}
	.m-bar {
		left: 45%;
	}
}
@media (max-width:  580px) {
	.slick-test {
		left: 30%;
		bottom: 76px;
	}
	.slick-test button {
		width: auto;
		height: auto;
		padding:  1px 8px;
	}
	.m-slide + span {
		left:  60%;
		bottom: 86px;
	}
	.m-slide .slick-prev {
		left: 64%;
		bottom: 70px;
	}
	.m-slide .slick-next {
		left: 70%;
		bottom: 70px;
	}
	.m-bar {
		left: 40%;
		bottom: 90px;
	}
}
.m-ani {
	animation: mBar 3s 1s;
}
.m-slide:hover .m-bar {
	animation-play-state: paused;
}

@media (min-width:  1920px) {
	.m-slide a {
		padding-bottom: 0;
		min-height: 980px;
	}
}
.m-slide img {
	display: none;
}
@media (max-width:  1280px) {
	.m-slide a p {
		font-size: 33px;
	}
}
@media (max-width:  900px) {
	.m-slide .slide01, .m-slide .slide02 {
		background: none;
		padding-bottom: 0;
	}
	.m-slide .txt {
		left: 12.5%;
	}
	.m-slide a p {
		font-size: 60px;
	}
	.m-slide a span {
		display: block;
	}.m-slide a br {
		display: none;
	}
	.txt > p::before, .txt > p::after, .txt::before, .txt::after {
		display: none;
	}
	.m-slide img {
		display: block;
		width: 100%;
	}
}
@media (max-width:  600px) {
	.m-slide a p {
			font-size: 48px;
			line-height: 1.3em;
		}
}
@media (max-width:  480px) {
	.m-slide a p {
			font-size: 24px;
		}
}

/* ds-wrap */
#wrap section {
	padding: 100px 0 160px;
}
.tit-wrap {
	text-align: center;
}
.tit-wrap > span {
	display: block;
	font-weight: 700;
	margin-bottom: 30px;
}
.tit-wrap > span::after {
	content: "";
	display: block;
	margin: 20px auto 0;
	width: 1px;
	height: 12px;
	background: #222;
	transform: skewX(-36deg);
}
.tit-wrap > h2 {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 4px;
	margin-bottom: 20px;
}
.tit-wrap > p {
	letter-spacing: .4px;
	margin-bottom: 100px;
}
@media (max-width:  900px) {
	#wrap section {
		padding: 50px 0 80px;
	}
	.tit-wrap > span {
		font-size: 14px;
		margin-bottom: 20px;
	}
	.tit-wrap > h2 {
		font-size: 24px;
	}
	.tit-wrap > p {
		font-size: 14px;
		margin-bottom: 20px;
	}
}
.ds-wrapBox {
	width: 100%;
	box-sizing: border-box;
	max-width: 1280px;
	margin:  0 auto;
	padding: 0 20px;
}
.ds-slide-wrap {
	position: relative;
	width: 100%;	
	padding-top: 90px;
}
.ds-wrap h3 {	
	position: absolute;
	top: 0;
	width: 33.33%;
	font-size: 20px;
	color: #aaa;
	text-align: center;
	border-top: 4px solid #ddd;
	padding-top: 30px;
	cursor: pointer;
}
.ds-wrap .ds-list02 > h3 {
	left: 50%;
	transform: translateX(-50%);
}
.ds-wrap .ds-list03 > h3 {
	left: 66.66%;
}
.ds-wrap .active h3 {
	border-color: #4772d5;
	color: #4772d5;	
	font-weight: 700;
}
@media (max-width:  900px) {
	.ds-wrapBox {
		padding:  0;
	}
	.ds-slide-wrap {
		padding-top: 50px;
	}
	.ds-wrap h3 {
		font-size: 13px;		
		padding-top: 15px;
	}
	.ds-wrap h3 > span {
		display: none;
	}
}
.ds-wrap .ds-slide {
	visibility: hidden;
	height: 0;
}
.ds-wrap .active .ds-slide {
	visibility: visible;
	height: auto;
}
.ds-wrap .slick-slide img {
	width: 100%;
}
.ds-wrap .slick-dotted.slick-slider {
	margin-bottom: 0;
}
.slick-dots li {
	width: 16px;
	height: 16px;
	border:  1px solid #999;
}
.slick-dots .slick-active {
	background: #333;
	border-color: #333;
}
.slick-dots li button::before {
	content: "";
}
.ds-wrap .ds-txt-box {
	display: none;
	margin-top: 48px;
}
.ds-wrap .active .ds-txt-box {
	display: block;
}

.ds-wrap .ds-txt-box > p {
	width: 50%;
	float: left;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.2px;
	padding-left: 48px;
	border-left: 2px solid #222;
	line-height: 1em;
	box-sizing: border-box;
}
.ds-wrap .ds-txt-box > .ds-txt {
	width: 50%;
	float: left;
	font-size: 20px;
	color: #555;
	line-height: 1.8em;
	font-weight: 300;
	box-sizing: border-box;
}
.ds-wrap .ds-txt > p:first-child {
	font-size: 34px;
	font-weight: 700;
	margin-bottom: 0.9em;
}
@media (max-width:  900px) {
	.ds-wrap .ds-txt-box > p {
		display: none;
	}
	.ds-wrap .ds-txt-box > .ds-txt {
		width: 100%;
		font-size: 15px;
		padding-left: 10px;
	}
	.ds-wrap .ds-txt > p:first-child {
		font-size: 18px;
	}
}

/* cm-wrap */
.cm-wrap {
	background-color: #f3f3f3;
}
.cm-wrap .tit-wrap > p {
	margin-bottom: 50px;
}
.tit-wrap > .color {
	font-size: 20px;
	color: #666;
}
.cm-wrapBox {
	width: 100%;
	box-sizing: border-box;
	max-width: 1280px;
	margin:  0 auto;
	padding: 0 20px;
}
@media (max-width: 900px) {
	.cm-wrap .tit-wrap > p {
		margin-bottom: 20px;
	}
}
@media (max-width:  480px){
	.cm-wrapBox {
		padding: 0;
	}
}

.cm-slide .item {
	margin: 1%;
}
@media (max-width:  1360px) {
	.cm-slide .item {
		margin: 0%;
	}
}
@media (max-width:  900px) {
	.cm-slide .item {
		margin: 5px;
	}
}

.cm-slide .item > div {
	width: 100%;
	height: 450px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.cm-slide .item .txt-wrap {
	width: 100%;
	padding: 40px;
	position: absolute;
	bottom: 0;
	color: #fff;
	box-sizing: border-box;
	text-align: left;
	text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
	line-height: 1.3em;
	height: 300px;
	/*background-color: navy;*/
}
.cm-slide .item .tit {
	font-size: 28px;
	font-weight: 900;
	line-height: 1em;
	padding-bottom: 25px;
	margin-bottom: 25px;
	position: relative;
}
.cm-slide .item .tit::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 2px;
	background-color: #fff;
}
.cm-slide .item .tit > p {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
}
@media (max-width:  1360px) {
	.cm-slide .item .txt-wrap {
		padding: 40px 10px;
		font-size: 15px;
	}
}
@media (max-width:  480px) {
	.cm-slide .item .txt-wrap {
		padding: 10px 5px 10px 10px;
		height: 230px;
	}
	.cm-slide .item .content {
		font-size: 14px;
		line-height: 1.5em;
	}
}
.btn-wrap .btn {
	text-align: center;
	padding-top: 60px;
}
.btn-wrap .btn > a {
	display: inline-block;
	width: 240px;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	font-weight: 700;
	color: #111;
	border: 1px solid #999;
	box-sizing: border-box;
	letter-spacing: .6px;
}
@media (max-width:  900px) {
	.cm-slide .item > div {
		height: auto;
		padding-bottom: 140%;
	}
	.cm-slide .item .tit > p {
		margin-bottom: 14px;
	}
	.btn-wrap .btn > a {
		width: 40px;
		height: 40px;
		text-indent: -9999px;
		position: relative;
	}
	.btn-wrap .btn > a::before, .btn-wrap .btn > a::after {
		content: "";
		position: absolute;
		display: block;		
		background-color: #333;
	}
	.btn-wrap .btn > a::before {
		width: 1px;
		height: 14px;
		left: 50%;
		top: 13px;
	}
	.btn-wrap .btn > a::after {
		width: 14px;
		height: 1px;
		top: 50%;
		left: 13px;
	}
}

/* fn-wrap */
.fn-wrap {
	width: 100%;
	box-sizing: border-box;
	max-width: 1280px;
	margin:  0 auto;
	padding: 0 20px;
	position: relative;
}
.fn-wrap .tit-wrap {
	text-align: left;
}
.fn-wrap .tit-wrap .color{
	line-height: 1.5em;
}
/* 개인수정 */
.fn-wrap > .left {
	padding-left: 6%;
	float: left;
	width: 30%;
}
.fn-wrap > .left > .tit-wrap > span::after {
	margin: 20px 0 0;
}
.fn-wrap.btn-wrap .btn {
	text-align: left;
}
.fn-wrap.btn-wrap .btn > a {
	text-align: center;
}
.fn-wrap > .right {
	float: right;
	width: 64%;
}
@media (max-width:  900px) {
	#wrap .fn-wrap {
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 80px;
	}
	.fn-wrap .tit-wrap {
		text-align: center;
	}
	.fn-wrap > .left > .tit-wrap > span::after {
	margin: 20px auto 0;
}
	.fn-wrap > .left {
		padding-left: 0;
	}
	.tit-wrap > h2 > br {
		display: none;
	}
	.fn-wrap > .left, .fn-wrap > .right {
		width: 100%;
	}
	.fn-wrap.btn-wrap .btn {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -20px;
	}
}
@media (max-width: 480px) {
	#wrap .fn-wrap {
		padding-left: 0;
		padding-right: 0;
	}
}
.fn-wrap .tit-wrap > p {
	margin-bottom: 50px;
}
.fn-slide .fn-img {
	padding: 1.5%;
	box-sizing: border-box;
}
.fn-slide a {
	width: 100%;
	height: 440px;
	display: block;
	font-size: 16px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #222;
	position: relative;
	box-sizing: border-box;	
	margin: 0 1.5% 1.5% 0;
}
.fn-slide .bgB a {
	color: #fff;
	background-color: #90a4d2;
	border: 0;
}
.fn-slide .dateWrap {
	width: 100%;
	padding: 40px;
	box-sizing: border-box;
	padding-bottom: 62.5%;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.fn-slide .dateWrap > .date {
	font-size: 56px;
	line-height: 1em;
	letter-spacing: -3px;
}
.fn-slide .dateWrap > .month {
	font-size: 16px;
}
.fn-slide .newsWrap {
	position: absolute;
	bottom: 0;
	padding: 0 40px 40px;
	box-sizing: border-box;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.fn-slide .newsWrap > .type {
	font-size: 14px;
	line-height: 2em;
}
.fn-slide .newsWrap > .tit {
	font-size: 26px;
	line-height: 1.5em;
	height: 76px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 900px) {
	.fn-wrap .right {
		position: relative;
		margin-top: 50px;
	}
	.fn-wrap .right::before {
		content: "";
		position: absolute;
		display: block;
		width: 1px;
		height: 25px;
		background-color: #c1c1c1;
		top: -37px;
		left: 50%;
	}
	.fn-slide .dateWrap {
		padding: 20px;
		padding-bottom: 62.5%;
	}
	.fn-slide .dateWrap > .date {
		font-size: 38px;
	}
	.fn-slide .dateWrap > .month {
		font-size: 14px;
	}
	.fn-slide .newsWrap {
		padding: 20px 15px 20px;
	}
	.fn-slide .newsWrap > .tit {
		font-size: 18px;
		height: 56px;
	}
	.fn-slide .slick-prev, .fn-slide .slick-next {
		top: -26px;
		width: 60px;
		height: 50px;
		text-indent: -9999px;
	}
	.fn-slide .slick-prev {
		left: 50%;
		margin-left: -80px;
		background: url(../images/btn_prev.png) no-repeat center;
	}
	.fn-slide .slick-next {
		right: 50%;
		margin-right: -80px;
		background: url(../images/btn_next.png) no-repeat center;
	}
}
@media (max-width:  500px) {
	.fn-slide a {
		height: 300px;
	}
}

/*c-wrap*/
.c-wrap {
	background: #efe9db url(../images/bg_case.png) no-repeat center 200% / 130%;
}
.c-slide a {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 98%;
	position: relative;
	display: block;
	height: 440px;
}
.c-slide .c-txt-over {
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
.c-slide a:hover .c-txt-over {
	opacity: 1;
}
.c-slide .c-txt-over::before {
	content: "";
	position: absolute;
	display: block;
	width: 2px;
	height: 0;
	top: 0;
	background-color: #222;
	transition: 0.3s 0.1s ease-in-out;
}
.c-slide a:hover .c-txt-over::before {
	height: 50px;
}
.c-slide .c-txt-over > p {
	font-size: 24px;
	font-weight: 700;
	color: #111;
}
@media (max-width: 899px) {
	.c-wrap {
		background-image: none;
	}
	.c-wrap .tit-wrap > .color {
		font-size: 16px;
	}
	.c-in-wrap {
		width: 100%;
		box-sizing: border-box;
		padding: 0 20px;
		margin-top: 100px;
	}
	.c-slide a {
		height: 215px;
	}
	.c-slide .c-txt-over {
		height: 130px;
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.c-slide .c-txt-over::before {
		width: 1px;
		height: 50px;
		background-color: #fff;
	}
	.c-slide .c-txt-over > p {
		color: #fff;
		font-size: 20px;
		padding: 0 30px;
		text-align: center;
		line-height: 1.2em;
	}
}
.c-in-wrap {
	position: relative;
}
.c-wrap .c-in-wrap::before {
	content: "";
	position: absolute;
	display: block;
	width: 1px;
	height: 25px;
	background-color: #c1c1c1;
	top: -70px;
	left: 50%;
}
.c-slide .slick-prev, .c-slide .slick-next {
	top: -56px;
	width: 60px;
	height: 50px;
	text-indent: -9999px;
}
.c-slide .slick-prev {
	left: 50%;
	margin-left: -80px;
	background: url(../images/btn_prev.png) no-repeat center;
}
.c-slide .slick-next {
	right: 50%;
	margin-right: -80px;
	background: url(../images/btn_next.png) no-repeat center;
}
/*cs-wrap*/
#wrap .cs-wrap {
	width: 100%;
	position: relative;
	padding: 0;
	height: 667px;
	background: url(../images/bg_cs.jpg) no-repeat right bottom;
}
.cs-wrap .cs-txt-wrap {
	width: 1300px;
	margin:  0 auto;
	/*background-color: lightsalmon;*/
	padding-top: 100px;
}
.cs-wrap .tit-wrap {
	text-align: left;
}
.cs-wrap .tit-wrap > span::after {
	margin-left: 0;
	margin-right: 0;
}
.cs-wrap .cont > p:first-child {
	font-size: 16px;
	font-weight: 300;
	padding: 5px 0 5px 26px;
	background: url(../images/ico_time.png) no-repeat 0 50%;
}
.cs-wrap .cont > p:last-child {
	font-size: 22px;
	font-weight: 400;
	display: inline-block;
	border-bottom: 1px solid #666;
	line-height: 32px;
}
.cs-wrap .btn {
	margin-top: 60px;
	width: 240px;
	height: 60px;
	font-size: 14px;
	border: 1px solid #999;
}
.cs-wrap .btn > a {
	display: block;
	text-align: center;
	line-height: 60px;
	color: #111;
	font-weight: 700;

}
@media(max-width: 1300px) {
	#wrap .cs-wrap {
		background-position: 400px center;
	}
	.cs-wrap .cs-txt-wrap {
		width: auto;
		max-width: 290px;
		position: absolute;
		left: 30px;
	}
}
@media(max-width: 900px) {
	#wrap .cs-wrap {
		height: 470px;
		background-position: 0 0;
	}
	.cs-wrap::after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.2);
		left: 0;
		top: 0;
	}
	.cs-wrap .cs-txt-wrap {
		left: 50%;
		transform: translateX(-50%);
		color: #fff;
		z-index: 50;
	}
	.cs-wrap .tit-wrap {
		text-align: center;
	}
	.cs-wrap .tit-wrap > span::after {
		background-color: #fff;
		margin-left: auto;
		margin-right: auto;
	}
	.cs-wrap .cont > p:first-child {
		padding: 0;
		padding-top: 24px;
		background: url(../images/ico_time_m.png) no-repeat center top / 20px; 
	}
	.cs-wrap .cont > p:last-child {
		border-bottom-color: #fff;
	}
	.cs-wrap .btn {
		width: 40px;
		height: 40px;
		text-indent: -9999px;
		background-color: #fff;
		border: none;
		margin-left: auto;
		margin-right: auto;
	}
	.cs-wrap .btn > a {
		position: relative;
		line-height: 40px;
	}
	.cs-wrap .btn > a::before, .cs-wrap .btn > a::after {
		content: "";
		position: absolute;
		display: block;		
		background-color: #333;
	}
	.cs-wrap .btn > a::before {
		width: 1px;
		height: 14px;
		left: 50%;
		top: 13px;
	}
	.cs-wrap .btn > a::after {
		width: 14px;
		height: 1px;
		top: 50%;
		left: 13px;
	}
}