@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.gmarketB {
	font-family:'GmarketSansBold', sans-serif;
	font-size: 48px;
}
.gmarketM {
	font-family:'GmarketSansMedium', sans-serif;
	font-size: 24px;
}

.bold {
	font-weight: 500;
}