/*footer*/
footer  {
	width: 100%;
	background-color: #003628;
	font-size: 14px;
	color: #fff;
	padding: 50px 0;
	font-weight: 200;
}
footer a {
	color: #fff;
}
.f-in {
	max-width: 1120px;
	margin: 0 auto;
}
footer .bold {
	font-weight: 700;
}
footer .tel {
	font-size: 24px;
	line-height: 1.2;
}
.f-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.f-top > .f-left {
	min-width: 850px;
}
.f-left-top > p, .f-left-top > ul, .f-left-top li {
	display: inline-block;
	vertical-align: middle;
}
.f-left-top > ul {
	margin-left:  50px;
}
.f-left-top li {
	margin-right: 30px;
	line-height: 2.6;
}
.f-left-bot {
	margin-top: 20px;
}
.f-left-bot > li {
	margin-right: 30px;
	float: left;
	line-height: 1.5;
	position: relative;
}
.f-left-bot > li::after {
	content: "";
	display: block;
	position: absolute;
	top: 6px;
	right: -15px;
	width: 1px;
	height: 10px;
	background-color: #fff;
}
.f-left-bot > li.last::after {
	display: none;
}
.f-left-bot > .clear {
	clear:  both;
}
.f-left-bot + p {
	line-height: 1.5;
}
.f-right . p {
	padding-top: 14px;
}
.f-right .tel {
	font-size: 24px;
	line-height: 1.2;
	margin: 12px 0;
	font-weight: 400;
}
.f-right > .desc {
	font-weight: 400;
	line-height: 1.4;
}
.f-top + a {
	display: inline-block;
	padding: 12px;
	border: 1px solid #fff;
	font-weight: 400;
}
@media (max-width: 1160px) {
	.f-in {
		width: auto;
		margin: 0 20px;
	}
	.f-top > .f-left {
		min-width: auto;
	}
}
@media (max-width: 860px) {
	.f-top {
		flex-direction: column;
	}
	.f-top > .f-left {
		margin-bottom: 8px;
	}
}
@media (max-width:  750px) {
	.f-left-top > p {
		margin-bottom: 12px;
	}
	.f-left-top > ul {
		display: block;
		margin-left: 0;
	}
	.f-left-bot > li::after {
		display: none;
	}
}