header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	z-index: 99;
}
.mo {
	display: none;
}
header .h-in {
	max-width: 1294px;
	margin: 0 auto;
}
header h1 {
	float: left;
	width: 100px;
	height: 60px;
}
header h1 > a {
	display: block;
}
header h1 img {
	width: 100%;
}
nav {
	/*background-color: orange;*/
	float: left;
	max-width: 918px;
	width: calc(100% - 376px);
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav a {
	color: #003628;
}
nav .navi > li {
	padding: 0 15px;
	display: inline-block;
}
nav .navi > li > a {
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -0.5px;
	padding-bottom: 2px;
}
nav .navi > li > a:hover {
	border-bottom: 2px solid #003628;
}
.h-menu {
	float: right;
	width: 276px;
}
.h-list {
	padding-top: 20px;
}
.h-list > li {
	display: inline-block;
	position: relative;
	padding:  0 10px;
}
.h-list > li::after {
	content: "";
	display: block;
	width: 1px;
	height: 10px;
	background-color: #003628;
	opacity: 0.2;
	position: absolute;
	top: 5px;
	right: -4px;
}
.h-list > li:last-child::after {
	display: none;
}
.h-list > li > a {
	font-size: 13px;
	color: #003628;
	font-weight: 300;
}
.h-menu.mo {
		margin-top: 10px;
}
.h-menu > .cart-wrap {
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.h-menu > .cart-wrap > span {
	position: absolute;
	right: 0;
	top: 2px;
	background-color: #003628;
	width: 22px;
	height: 22px;
	color: #fff;
	font-size: 12px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.h-menu button {
	border: none;
	background: none;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	padding: 0;
	margin-left: 12px;
}
.h-menu .ham-btn {
	background: url(../img/newMain/new_menu.png)no-repeat center / 100%;
	text-indent: -9999px;
	transform: translateY(-7px);
}
.h-menu .ham-btn.on {
	background-image: url(../img/newMain/new_munu_close.png);
}
.h-menu button > img {
	width: 100%;
}
@media (max-width: 1300px) {
	header .h-in {
		box-sizing: border-box;
		padding-left: 10px;
	}
}
@media (max-width: 1160px) {
	.pc, nav {
		display: none;
	}
	.mo {
		display: block;
	}
	header .h-in {
		/*max-width: auto;*/
		padding: 0 20px;
		position: relative;
		z-index: 99;
		background-color: #fff;
	}
	.h-menu {
		width: auto;
	}
}
@media (max-width: 700px) {
	.h-menu.mo {
		margin-top: 13px;
	}
	.h-menu button {
		width: 34px;
		height: 34px;
		margin-left: 8px;
	}
	.h-menu > .cart-wrap > span {
		width: 19px;
		height: 19px;
	}
}

/*nav*/
.gnb-depth {
	display: none;
	width: 100%;
	/*header 부모기준*/
	position: absolute;
	z-index: 90;
	top: 60px;
	left: 0;
	background-color: #f5f4f1;
}
.gnb-depth.on {
	display: block;
}
.gnb-depth > .depth-in {
	max-width: 1120px;
	margin: 0 auto;
	padding: 50px 0;
	height: 386px;
	position: relative;
	/*background-color: orangered;*/
}
.gnb-depth a {
	font-size: 18px;
	font-weight: 300;
}
.depth-in li.active .depth-menu > a {
	font-weight: 500;
}
.gnb-banner .txt {
	font-weight: 500;
}
.depth-in > ul > li {
	/*background-color: yellow;*/
	padding-bottom: 42px;
}
/*.depth-in .trans-y1 {
	transform: translateY(-100px);
}
.depth-in .trans-y2 {
	transform: translateY(-160px);
}
.depth-in .trans-y3 {
	transform: translateY(-220px);
}*/
.depth-in .depth-menu {
	position: relative;
}
.depth-in .depth-menu li {	
	display: block;
	min-width: 190px;
	padding-bottom: 42px;
}
/*.depth-in .depth-menu a {
	display: inline-block;
}*/

.depth-in .gnb2-depth {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 280px;
	/*background-color: khaki;*/
	transform: translateX(20px);
	opacity: 0;
	transition: 0.3s;
	z-index: 10;
}
.depth-in li.active .gnb2-depth {
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}
.depth-in .gnb2-depth::before {
	content: "";
	position: absolute;
	width: 9px;
	height: 16px;
	background: url(../img/newMain/gnbArrow.png) no-repeat;
	top: 0;
	left: -30%;
	transform: translateX(20px);
	opacity: 0;
	transition: 0.3s;
}
.depth-in li.active .gnb2-depth::before {
	transform: translateX(0);
	opacity: 1;
}
.gnb2-depth li > a {
	position: relative;
}
.gnb2-depth li > a::after {
	content: "";
	display: block;
	position: absolute;
	top: 110%;
	width: 0;
	height: 1px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #003628;
	transition: 0.3s;
}
.gnb2-depth li > a:hover {
	font-weight: 500;
}
.gnb2-depth li > a:hover::after {
	width: 100%;
}
.depth-in .gnb-banner {
	position: absolute;
	right: 0;
	top: 50px;
	display: none;
}
.depth-in li.active .gnb-banner{
	display: block;
}
.depth-in > ul.active + .gnb-banner {
	display: block;
}
.gnb-banner .txt {
	margin: 30px 0 20px;
}
.gnb-banner span {
	font-size: 13px;
	border-bottom: 1px solid #003628;
}

.icon {
	font-family: xeicon;
}
/*.icon::before {
	content: "\ea10";
}*/

/*mobile*/
.nav-wrap {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #f5f4f1 url(../img/newMain/m_menu_bg.png) no-repeat right bottom / cover;
	z-index: 98;
	padding-top: 60px;
	box-sizing: border-box;
	overflow-y: auto;
	display: none;
}
.nav-top {
	display: flex;
	height: 60px;
	align-items: center;
	border-bottom: 1px solid #ddd;
}
.nav-top > a {
	flex: 1 1 50%;
	display: inline-block;
	text-align: center;
	color: #717171;
	font-size: 16px;
	position: relative;
}
.nav-top > a > img {
	vertical-align: middle;
	margin-right: 4px;
}
.nav-top > .join > img {
	width: auto;
	height: 28px;
}
.nav-top > .join::after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 30px;
	background-color: #ddd;
	position: absolute;
	right: 0;
}
.nav-top > .cart > img {
	width: auto;
	height: 24px;
}
.nav-in {
	box-sizing: border-box;
	width: 100%;
	padding: 50px 20px;
}
.nav-in a {
	color: #003628;
}
.m-navi > li {
	margin-bottom: 1.5em;
}
.m-navi > li > a {
	font-size: 24px;
	font-weight: 700;
}
.msub-wrap {
	margin-top: 10px;
}
.msub-wrap > ul > li {
	line-height: 2.7em;
}
.msub-wrap > ul > li::before {
	content: "\2022";
	font-family: xeicon;
	margin-right: 4px;
}
.msub-wrap > ul > li > a {
	font-size: 18px;
	font-weight: 300;
}
.msub-wrap > .m-list > li > a {
	display: inline-block;
	min-width: 150px;
	background: url(../img/newMain/gnb_plus.png) no-repeat right center / 20px;
}
.msub2-wrap {
	display: none;
	position: absolute;
	background-color: #f5f4f1;
	top: 121px;
	left: 0;
	right: 0;
	height: 100%;
	padding: 30px 20px;
	background: #f5f4f1 url(../img/newMain/m_menu_bg.png) no-repeat right bottom / cover;
}
.msub2-wrap .msub2-tit {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 12px;
}
.msub2-wrap .msub2-tit > button {
	width: 30px;
	height: 24px;
	background:  url(../img/newMain/mdepClose.png) no-repeat center / 100%;
	border: none;
	text-indent: -9999px;
	margin-right: 20px;
}
.msub2-wrap > ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.msub2-wrap > ul > li {
	flex:  0 0 48%;
}
.msub2-wrap > ul span {
	display: block;
	margin: 12px 0 24px;
}
.msub2-wrap > ul span::before {
	content: "\2022";
	font-family: xeicon;
	margin-right: 4px;
}
.msub2-wrap > ul img {
	width: 100%;
}
.m-list > .active .msub2-wrap {
	display: block;
	padding-bottom: 40%;
}